
<ion-content padding class="latinaApp">
    <ion-card>
        <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzDfswst6OLHqMhxW-bk9q_DqcgpUJ3QVNT5f25LctaE4ufSuL"/>-->
        <img src="https://www.walldevil.com/wallpapers/a88/9608-studio-microphone.jpg">
        <ion-card-content text-center>
            <h1>Latina Fm Radio</h1>
            <strong center>¡La que te mueve!</strong>
        </ion-card-content>
      </ion-card> 
  
  
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-8 col-center >
        
      </ion-col>
      
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-3 col-center >
        <button ion-fab icon-only (click)="play();" *ngIf="stopPause">
          <ion-icon name="play"></ion-icon  >
        </button>
        <button ion-fab  (click)="pause();" *ngIf="!stopPause" color="danger">
          <ion-icon name="pause"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <br><br>
          <ion-item center button>
              <ion-range  min="0" max="100" [(ngModel)]="volumen" color="danger" (ionChange)="actualizar()">
                  <ion-icon  small range-left ios="ios-volume-down" md="md-volume-down"></ion-icon>
                  <ion-icon range-right ios="ios-volume-up" md="md-volume-up"></ion-icon>
              </ion-range>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
